body {
    background-image: url("https://cdn.pixabay.com/photo/2021/01/28/17/46/dream-big-5958626_1280.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.85;
    font-family: "lucida handwriting";
}

.container {
    width: 45%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 5px 5px #888888;
}

.crossedOut {
    text-decoration: line-through;
}

.form-check span {
    visibility: hidden;
    margin-left: 15px;
    color: red;
}

.form-check:hover span {
    visibility: visible !important;
    cursor: pointer;
    margin-left: 15px;
}